.searchContainer{
    display: flex;
    padding: .5rem;
    justify-content: end;
    background-color: #4594BB;
}

.searchInput{
    border: none;
    padding: .5rem;
    border-radius: 4px;
}
.searchInput:focus{
    border: none;
    color: #666;
    outline: none;
}

.searchButton{
    border: none;
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .25rem;
}
.searchButton:hover{
    transform: scale(1.05);
    cursor: pointer;
}