.navContainer{
    display: flex;
    padding: .5rem;
    justify-content: end;
    background-color: #4594BB;
}
.randomButton{
    border: none;
    padding: .5rem;
    margin: 0 .5rem;
    border-radius: .25rem;
}
.randomButton:hover{
    transform: scale(1.05);
    cursor: pointer;
}