.navContainer{
    display: flex;
    padding: .5rem;
    align-items: center;
    justify-content: space-between;
    background-color: #4594BB;
}
.linkContainer{
    display: flex;
}
.randomButton{
    border: none;
    padding: .3rem;
    margin: 0 .5rem;
    border-radius: .25rem;
    background-color: aliceblue;
    text-decoration: none;
    color: black;
}
.randomButton:hover{
    transform: scale(1.05);
    cursor: pointer;
}