/*.cardContainer{
    width: 250px;
    
    max-height: 400px;
    margin: .5rem;
    border-radius: .5rem;
    background-color: #CB9845;
}

.cardHead{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.cardHead img{
    width: 100%;
    margin: 0 auto;
}
.cardHeadTitle{

    display: flex;
    justify-content: space-between;
    padding: .5rem 0;
    width: 100%;
    min-height: 38px;
    max-height: 38px;
    font-weight: bolder;
}
.cardHeadTitle span{
    color: #fff;
    background-color: #0D5B7B;
    padding: 4px;
    margin: 0 .5rem;
    display: flex;
    align-items: center;
    text-align: center;
    border-radius: 4px;
    height: 80%;
    overflow: hidden;
    font-size: 12px;
}
.cardHeadTitleButtons{
    display: flex;
    justify-content: end;
    align-items: center;
    margin-right: .5rem;
}
.cardHeadTitle a{
    text-decoration: none;
}
.cardHeadTitle button{
    margin-left: .5rem;
    border-radius: 4px;
    padding: 0 1rem;
    border: none;
    background-color: #0D5B7B;
    color: #fff;
    height: 100%;
}

.cardInfo{
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: .5rem;
} */
.card {
  background-color: lightblue;
  margin: 0 0.25rem;
}
.cardHead {
  padding: 0.3rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.cardHead img {
  width: 190px;
  height: 250px;
  border-radius: 1rem;
}
.cardBody {
  display: flex;
  max-width: 180px;
  flex-direction: column;
  padding: 0 0.3rem;
}
.bodyTitle {
  font-weight: bold;
  color: #333;
  margin: 0 0.2rem;
  display: flex;
  justify-content: flex-start;
}
.bodyInfo {
  margin: 0.2rem;
  color: #666;
  display: flex;
  justify-content: space-between;
}
